@font-face {
    font-family: SuisseIntl;
    src: url(/assets/feb04797925d5f18d573e01201a7d3ae.eot);
    src: url(/assets/feb04797925d5f18d573e01201a7d3ae.eot?#iefix) format("embedded-opentype"), url(/assets/83659aa3fff52ccea8a5cc190a02e9a6.woff2) format("woff2"), url(/assets/669e2742be23bcaed890b95b89461909.woff) format("woff"), url(/assets/1edbeaa6c22263798b8a7bfd112ee17b.svg#SuisseIntl-Regular) format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: u + 0020-00fe
}

@font-face {
    font-family: SuisseIntl;
    src: url(/assets/51e589a7242c9f8f814fb5aa389feb60.eot);
    src: url(/assets/51e589a7242c9f8f814fb5aa389feb60.eot?#iefix) format("embedded-opentype"), url(/assets/da5ee214c2a0a26a8e906101b8e20ce9.woff2) format("woff2"), url(/assets/9aeab0f7f093f2ee9e4d53825925b896.woff) format("woff"), url(/assets/676aa39d1f4cd1bfab71c8807ae576ad.svg#SuisseIntl-Medium) format("svg");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: u + 0020-00fe
}

body {
    color: #fff;
    background: #000;
    font-family: SuisseIntl, Arial;
    margin: 0
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400
}

li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

a {
    text-decoration: none
}

a, button {
    color: inherit;
    font-size: inherit
}

button {
    background: transparent;
    border: none;
    padding: 0
}

.lazy {
    opacity: 0;
    transition: opacity .4s cubic-bezier(.77, 0, .175, 1), visibility .4s cubic-bezier(.77, 0, .175, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.lazy.loaded {
    opacity: 1
}

.lazy.hidden {
    opacity: 0 !important
}

noscript {
    display: none
}

.block {
    overflow: hidden;
    padding: 1px 17%
}

.block h1, .block h2 {
    font-size: 80px;
    font-weight: 700
}

.block h5 {
    opacity: .5;
    font-size: 14px
}

.block .block-text {
    font-size: 30px;
    width: 80%
}

.block .block-img {
    width: 100%;
    height: 0;
    position: relative;
    pointer-events: none
}

.block .block-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto
}

.block .block-img img:not([src]) {
    visibility: hidden
}

.white-block {
    color: #000;
    background: #fff
}

.margin-block:after, .margin-block:before {
    display: block;
    content: "";
    width: 100%
}

.margin-block:before {
    margin-bottom: 170px
}

.margin-block:after {
    margin-top: 170px
}

@media (max-width:1199px) {
    .block {
        padding-left: 70px;
        padding-right: 70px
    }
}

@media (max-width:767px) {
    .block {
        padding-left: 7%;
        padding-right: 7%
    }

    .block h1, .block h2 {
        font-size: 40px
    }

    .block h5 {
        font-size: 12px
    }

    .block .block-text {
        font-size: 20px;
        width: 80%
    }

    .margin-block:before {
        margin-bottom: 90px
    }

    .margin-block:after {
        margin-top: 90px
    }
}

#cover {
    position: fixed;
    pointer-events: none;
    z-index: 900;
    top: 500px;
    top: 100vh;
    left: 0;
    width: 100%
}

#cover .cover-inner, #cover .cover-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
    height: 100vh
}

#cover .cover-wrapper {
    bottom: 0;
    overflow: hidden;
    background: #fff;
    transition: height .25s cubic-bezier(.39, .575, .565, 1) .2s
}

#cover .cover-wrapper:after {
    content: "";
    background-color: #666;
    position: absolute;
    left: 50%;
    width: 1px;
    top: calc(100% - 20vh);
    height: 0;
    transition: height .7s cubic-bezier(.39, .575, .565, 1)
}

#cover .cover-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#cover h2 {
    color: #666;
    display: block;
    height: 14px;
    font-size: 14px
}

#cover.show .cover-wrapper:after {
    height: 20vh
}

#cover.hide .cover-wrapper {
    height: 0
}

#cover.hide .cover-wrapper:after {
    bottom: 0;
    top: auto;
    height: 0
}

#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    min-height: 500px;
    min-height: 100vh;
    color: #fff;
    background: #000
}

#header header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 17%;
    color: #666
}

#header header, #header header .quick-link {
    transition: top .4s cubic-bezier(.77, 0, .175, 1)
}

#header header.hide, #header header .quick-link.hide {
    top: -160px
}

#header header nav {
    width: 100%;
    position: relative
}

#header header ul {
    padding-top: 55px;
    margin: auto
}

#header header li {
    font-size: 14px
}

#header header li a {
    transition: color .4s cubic-bezier(.165, .84, .44, 1)
}

#header header .email {
    opacity: .4
}

#header header .quick-link {
    top: 55px;
    position: absolute;
    color: inherit;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: translateX(100%) rotate(90deg);
    transform: translateX(100%) rotate(90deg)
}

#header header .about-button {
    position: relative;
    display: block;
    transition: opacity .4s cubic-bezier(.25, .46, .45, .94)
}

#header header .about-button span:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px)
}

#header header .about-button span {
    display: block;
    transition: opacity .4s cubic-bezier(.77, 0, .175, 1), -webkit-transform .4s cubic-bezier(.77, 0, .175, 1);
    transition: transform .4s cubic-bezier(.77, 0, .175, 1), opacity .4s cubic-bezier(.77, 0, .175, 1);
    transition: transform .4s cubic-bezier(.77, 0, .175, 1), opacity .4s cubic-bezier(.77, 0, .175, 1), -webkit-transform .4s cubic-bezier(.77, 0, .175, 1)
}

#header header .about-button.opened span:last-child {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

#header header .about-button.opened span:first-child {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
}

.no-mobile #header header .about-button:hover {
    opacity: .3
}

#header .quick-link {
    position: fixed;
    color: #666;
    right: 30px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    font-size: 14px;
    display: block
}

#header .quick-link.hide {
    pointer-events: none
}

#header .quick-access {
    position: fixed;
    z-index: 100;
    right: 30px;
    bottom: 30px;
    display: block
}

#header .quick-access.hide {
    pointer-events: none
}

#header .quick-access:after {
    margin-bottom: 10px
}

#header .quick-access .project-dots {
    color: #666;
    border-color: #666;
    transition: -webkit-transform .4s cubic-bezier(.77, 0, .175, 1);
    transition: transform .4s cubic-bezier(.77, 0, .175, 1);
    transition: transform .4s cubic-bezier(.77, 0, .175, 1), -webkit-transform .4s cubic-bezier(.77, 0, .175, 1);
    -webkit-transform: none;
    transform: none
}

#header .quick-access .project-dots.hide {
    -webkit-transform: translateY(calc(100% + 40px));
    transform: translateY(calc(100% + 40px));
    pointer-events: none
}

#header .quick-access .project-dot {
    display: block;
    margin: 4px 0
}

#header .quick-access .project-dot a {
    display: block;
    width: 10px;
    height: 10px;
    position: relative
}

#header .quick-access .project-dot a:after, #header .quick-access .project-dot a:before {
    content: "";
    display: block;
    border-radius: 50%;
    opacity: .4;
    transition: all .4s cubic-bezier(.77, 0, .175, 1)
}

#header .quick-access .project-dot a:before {
    box-sizing: border-box;
    border: 1px solid;
    border-color: inherit;
    width: 100%;
    height: 100%;
    opacity: 0
}

#header .quick-access .project-dot a:after {
    display: block;
    border: 1px solid;
    border-color: inherit;
    position: absolute;
    width: 0;
    height: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

#header .quick-access .project-dot a span {
    position: absolute;
    font-size: 12px;
    top: 50%;
    -webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
    white-space: nowrap;
    padding-right: 6px;
    opacity: 0;
    transition: inherit;
    transition: opacity .4s cubic-bezier(.165, .84, .44, 1), color .4s cubic-bezier(.165, .84, .44, 1)
}

#header .quick-access .project-dot.current a:after, #header .quick-access .project-dot.current a:before,
.no-mobile #header .quick-access .project-dot:hover a:after, .no-mobile #header .quick-access .project-dot:hover a:before,
.no-mobile #header .quick-access .project-dot:hover a span {
    opacity: 1
}

@media (max-width:1199px) {
    #header header {
        padding-left: 70px
    }

    #header .quick-link {
        right: 14px
    }

    #header .quick-access {
        right: 8px;
        bottom: 8px
    }

    #header .project-dot span {
        display: none
    }
}

@media (max-width:767px) {
    #header {
        min-height: 100vh
    }

    #header header {
        padding-left: 7%
    }

    #header .quick-link, #header header li {
        font-size: 12px
    }
}

#project-list {
    color: #212121;
    transition: background-color .4s cubic-bezier(.39, .575, .565, 1)
}

#project-list a, #project-list h5 {
    color: inherit;
    transition: color .4s cubic-bezier(.39, .575, .565, 1)
}

#project-list .project-type-list {
    position: relative;
    z-index: 10;
    margin: 85px 0
}

#project-list .project-type-list ul:hover li a {
    opacity: .4
}

#project-list .project-type-list ul li a {
    transition: opacity .4s cubic-bezier(.25, .46, .45, .94), color .4s cubic-bezier(.39, .575, .565, 1);
    display: inline-block;
    width: 100%
}

#project-list .project-type-list ul li a:hover {
    opacity: 1
}

#project-list .project-type-list li {
    font-size: 80px;
    font-weight: 700
}

#project-list .project-type-images {
    pointer-events: none
}

#project-list .project-type-images img {
    opacity: 0;
    position: absolute;
    right: -17vw;
    top: 0;
    -webkit-transform: translateX(50%) rotate(10deg);
    transform: translateX(50%) rotate(10deg);
    transition: opacity .4s cubic-bezier(.39, .575, .565, 1), -webkit-transform .4s cubic-bezier(.39, .575, .565, 1), -webkit-transform-origin .4s cubic-bezier(.39, .575, .565, 1);
    transition: transform .4s cubic-bezier(.39, .575, .565, 1), opacity .4s cubic-bezier(.39, .575, .565, 1), transform-origin .4s cubic-bezier(.39, .575, .565, 1);
    transition: transform .4s cubic-bezier(.39, .575, .565, 1), opacity .4s cubic-bezier(.39, .575, .565, 1), transform-origin .4s cubic-bezier(.39, .575, .565, 1), -webkit-transform .4s cubic-bezier(.39, .575, .565, 1), -webkit-transform-origin .4s cubic-bezier(.39, .575, .565, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    max-width: 50%;
    height: auto
}

#project-list .project-type-images img.show {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    transition-delay: .2s;
    -webkit-transform: translateX(0) rotate(-10deg);
    transform: translateX(0) rotate(-10deg);
    opacity: 1
}

@media (max-width:1199px) {
    #project-list .project-type-images img {
        right: -70px
    }
}

@media (max-width:767px) {
    #project-list .project-type-list {
        margin: 45px 0
    }

    #project-list .project-type-list li {
        font-size: 40px
    }

    #project-list .project-type-images img {
        right: -7vw
    }
}

.project h5 {
    margin-top: 250px
}

.project h2 {
    margin-bottom: 250px
}

.project a {
    transition: opacity .4s cubic-bezier(.25, .46, .45, .94)
}

.project a:hover {
    opacity: .6
}

.project .block-text {
    margin: 170px 0
}

.project .block-img {
    margin: 100px 0
}

.project .block-img + .block-img {
    margin-top: -100px
}

@media (max-width:1199px) {
    .project h5 {
        margin-top: 0
    }

    .project h2 {
        margin-bottom: 0
    }
}

@media (max-width:767px) {
    .project .block-text {
        margin: 90px 0
    }

    .project .block-img {
        margin: 100px 0
    }
}

#skills {
    padding-top: 0;
    padding-bottom: 0
}

#skills li {
    font-size: 80px;
    font-weight: 700
}

@media (max-width:767px) {
    #skills li {
        font-size: 40px
    }
}

#contact {
    padding-top: 0
}

#contact h3 {
    font-size: 56px;
    font-weight: 700
}

#contact h5 {
    margin-top: -.2em
}

#contact ul {
    margin: 40px 0
}

#contact ul:hover li a {
    opacity: .4
}

#contact ul li a {
    transition: opacity .4s cubic-bezier(.25, .46, .45, .94);
    display: inline-block;
    width: 100%
}

#contact ul li a:hover {
    opacity: 1
}

#contact li {
    font-size: 30px
}



@media (max-width:767px) {
    #contact h3 {
        font-size: 24px
    }

    #contact ul {
        margin: 40px 0
    }

    #contact li {
        font-size: 20px
    }
}

#about, .popin-about {
    padding-bottom: 0
}

#about h3, .popin-about h3 {
    font-size: 80px;
    font-weight: 700;
    margin: 170px 0
}

#about h5, .popin-about h5 {
    margin: 30px 0
}

.popin-about {
    background: #000;
    z-index: 50;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.popin-about .inner-popin-about {
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 100%
}

@media (max-width:767px) {
    #about h3, .popin-about h3 {
        font-size: 40px;
        margin: 90px 0
    }

    #about h2, .popin-about h2 {
        font-size: 40px
    }
}

