
		.navbar.navbar-default, .navbar button.navbar-toggle { 
			border: none; 
			background-color: #17191B;
	     	border-color: #17191B;
	     	opacity: 0.9;
		}

		ul.nav li a, ul.nav li a:visited {
    	color: white !important;
    	font-size: 14px;

    	-o-transition:color .4s ease-out;
		-ms-transition:color .4s ease-out;
		-moz-transition:color .4s ease-out;
		-webkit-transition:color .4s ease-out;

		transition:color .4s ease-out;
		}

		ul.nav li a:hover, ul.nav li a:active {
    	color: #808080 !important;
    	background-color: #17191B;
		}

		.navbar.navbar-default .navbar-collapse {
  		border: none;
 	 	box-shadow: none;
		}

     	.navbar-toggle:hover {
         background-color: transparent! important;
     	}

     	.navbar .navbar-toggle .icon-bar{
   		background-color: #EBEBEB !important;
		}

		.navbar-toggle {
		  border: none;
		  background: transparent !important;
		}

		.navbar-toggle:hover {
		  background: transparent !important;
		}

		.navbar-toggle .icon-bar {
		  width: 22px;
		  transition: all 0.2s;
		}

		.navbar-toggle .top-bar {
		  transform: rotate(45deg);
		  transform-origin: 10% 10%;
		}

		.navbar-toggle .middle-bar {
		  opacity: 0;
		}

		.navbar-toggle .bottom-bar {
		  transform: rotate(-45deg);
		  transform-origin: 10% 90%;
		}

		.navbar-toggle.collapsed .top-bar {
		  transform: rotate(0);
		}

		.navbar-toggle.collapsed .middle-bar {
		  opacity: 1;
		}

		.navbar-toggle.collapsed .bottom-bar {
		  transform: rotate(0);
		}
